# this should be set on server
#set $ekirill_app_dir /home/ekirill/projects/ekirill;
#set $webdav_dir /home/ekirill/tmp/webdav;

# max upload size
client_max_body_size 75M;

location /static/ {
    alias $ekirill_app_dir/assets/;
}

location / {
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_redirect off;
    proxy_buffering off;
    proxy_pass http://ekirill_backend;
}

location /internal-camera/ {
  internal;
  alias   $webdav_dir/CAMERA/;
}

location /webdav {
    client_max_body_size 100M;
    # Сюда будут загружаться файлы
    alias $webdav_dir;
    # Разрешаем чтение и удаление
    dav_access user:rw group:rw all:rw;
    # Все методы для удобства работы (с возможностью удаления)
    dav_methods PUT DELETE MKCOL COPY MOVE;
    # Требуется для некоторых webdav клиентов (Cyberduck и Monosnap)
    dav_ext_methods   PROPFIND OPTIONS;
    # Чтобы клиенты могли создавать пусть сами
    create_full_put_path on;
    charset utf-8;
    # Возможность просмотра каталога
    autoindex on;
    # Включаем авторизоацию для загрузки файлов
    auth_basic "Upload directory";
    auth_basic_user_file /etc/nginx/htpasswd;
}
